.spalte {
  box-shadow: -5px 5px 10px silver;
  padding:10px;
  margin:5px;
}


.grey{
	background-color: #fafafa;
}

.container{
  justify-content:center;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

body {
    padding: 10px;
    font-family: sans-serif;
    font-size: 15px;
}

/* canvas{

  width:80% !important;
  height:50%!important;

} */

.elem{
  margin-top:10px;
}

.account{
  align-items:center;
  display: flex;
  padding: 12px;
}

.navelem{
  align-items:center;
  display: flex;
}
.chart {
    width: 600px;
    height: 300px;
    border-style: groove;
}

.barchart canvas{
  height: 30vh;
}

.barchart02 canvas{
  height: 11vh;
  padding-left:6%;
}

.followerchart canvas{
  height: 20vh;
  padding-left:6%;
}
.erste {

	margin-right: 1vh;
}
.zweite {
	box-shadow: -15px 0px 8px -15px silver, 15px 0px 8px -15px silver;
	padding:10px;


}
.dritte {
	padding-left:4vh;
	background-color:light;

}
.followerverlauf{
	margin-left:4vh;
}
.kommentar{
	margin-left:4vh;
}
.ueberblick{
	margin-left:4vh;
}

.hover{
	overflow: auto;
}
.footer {
	text-align:center;
	width: 220vh;
	color:white;

}
.info{
	font-size: 120%;
	text-align:center;
	margin: 9vh;
}

@media (max-width:1500px){
  body{
    font-size:12px !important;
  }
  .barchart canvas{
    height: 40vh !important;
  }
  .followerchart canvas{
    height: 25vh !important;
  }
  .keyfacts h6{
    font-size: 15px;
  }
  .barchart02 canvas{
    height: 17vh;
	width:10vh;
  }
}

@media (max-width:1200px){
  .followerchart canvas{
    height: 22vh !important;

  }
  .zweite{
	  box-shadow:none;
  }
  .info {
	  display:none;
  }
}

.nopad{
  padding:0px !important;
}
.keyfacts.row{
  margin: 0px !important;
}

.content{
  margin:2px !important;
  padding:2px;

}

.hilfeseite{
  margin-left: 2%;
  margin-top: 1%;
}
