.spalte {
  width: 200px;
  height: 100px;
  border: 1px outset black;
  margin: 5px;
  padding: 5px;
  display: inline-block;
  font-style: normal;
  font-size: 8px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

body {
    padding: 10px;
    font-family: sans-serif;
}

/* canvas{

  width:80% !important;
  height:50%!important;

} */
.chart {
    width: 600px;
    height: 300px;
    border-style: groove;
}

.container {
   width: 210px;
   height: 550px;
   border: 1px solid;
   border-color: white;
   padding: 0;
   position: middle;
   float: right;
}
